<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.puntomuerto.autoblog</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/sh</string>
    <string>/Users/sib/Documents/desarrollo/punto muerto/puntomuerto/actualizar-autoblog.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/sib/Documents/desarrollo/punto muerto/puntomuerto</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>DOTNET_ROOT</key>
    <string>/Users/sib/.dotnet</string>
    <key>PATH</key>
    <string>/Users/sib/.dotnet:/usr/local/share/dotnet:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>StartCalendarInterval</key>
  <array>
    <dict>
      <key>Hour</key>
      <integer>10</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
    <dict>
      <key>Hour</key>
      <integer>13</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
    <dict>
      <key>Hour</key>
      <integer>16</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
  </array>
  <key>StandardOutPath</key>
  <string>/tmp/puntomuerto-autoblog.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/puntomuerto-autoblog.log</string>
</dict>
</plist>
